<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="addUser()">
    <mat-form-field class="form__input">
      <input matInput placeholder="Nom" formControlName="nom" />
    </mat-form-field>
    <mat-form-field class="form__input">
      <input matInput placeholder="Prénom" formControlName="prenom" />
    </mat-form-field>

    <mat-form-field class="form__input">
      <input
        matInput
        placeholder="Adresse Email"
        type="email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field class="form__input">
      <input
        matInput
        placeholder="Mot de Passe"
        type="password"
        formControlName="password"
      />
    </mat-form-field>

    <mat-form-field class="form__input">
      <input matInput placeholder="Adresse" formControlName="adresse" />
    </mat-form-field>

    <div class="form-actions">
      <button
        class="form-actions__create"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Créez votre compte
      </button>
    </div>
    <div class="alert alert-warning" *ngIf="isSignUpFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
  </form>
</div>
